@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@media print {
    .ignore-in-print,
    header {
        display: none !important;
    }
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled)>.v-input__control>.v-input__slot:hover fieldset {
    color: rgb(226, 19, 110) !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot ::placeholder {
    color: rgb(149, 152, 154) !important;
}

.v-input__slot {
    background-color: rgb(255, 255, 255) !important;
}

html * {
    font-family: Roboto, sans-serif !important;
    text-transform: none !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)>.v-input__control>.v-input__slot fieldset {
    border: 0.5px solid rgb(112, 112, 112) !important;
}

#swal2-content div:first-child {
    font-size: 1.2em !important;
}

#swal2-content div:nth-child(2) {
    margin-right: 15% !important;
    margin-left: 15% !important;
    font-size: 0.9em !important;
}

.validation-errors {
    color: red;
    text-align: left;
    margin-top: 10px;
}

.swal2-textarea {
    font-size: 16px;
    border: 1px solid rgb(243, 243, 243);
    height: 10.75em;
    resize: none;
}

.swal2-title {
    font-weight: 400 !important;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(226, 19, 110) !important;
}

.swal2-styled.swal2-deny {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(208, 2, 27) !important;
}

.header-text {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: rgb(54, 54, 54);
}

.input-el {
    width: 450px;
    height: 65px;
}

.vl {
    border-left: 1px solid rgb(241, 241, 241);
}

.hl {
    background-color: rgb(238, 238, 238);
    margin-top: 18px;
    margin-bottom: 18px;
}

.hl,
.nav-hl {
    width: 100%;
    height: 1px;
}

.nav-hl {
    background-color: rgb(154, 154, 154);
}

.inputNumber input[type="number"]::-webkit-inner-spin-button,
.inputNumber input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0px;
}

.inputNumber input[type="number"] {}

@media screen and (max-width: 768px) {
    .inputNumber {
        width: 100% !important;
    }
}

.v-application a {
    color: transparent;
    text-decoration: none;
}

.loader__bird[data-v-4084ba6c] {
    width: 116px;
}

.bkash__loader[data-v-4084ba6c] {
    width: 116px;
    height: 116px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 360px) {
    .bkash__loader[data-v-4084ba6c] {
        margin-top: -30px;
    }
}

@media screen and (min-width: 1001px) {
    .bkash__loader[data-v-4084ba6c] {
        margin-top: unset;
    }
}

@media screen and (min-width: 1400px) {
    .bkash__loader[data-v-4084ba6c] {
        margin-top: -80px;
    }
}